.book-form {
    margin-top: 20px;
  }
  
  .book-form input {
    margin-right: 10px;
  }
  
  .book-form button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .book-form button:hover {
    background-color: #555;
  }
  
  